#render
{
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 0;
}

.contenedorRender
{
	padding: 0;
}

body {
	background-color: #fff;
	margin: 0px;
}

.checkTemperaturas
{
	padding-left: 20px;
}

#botonSegundaPlanta
{
	display:none;
}

#botonSotano
{
	display:none;
}

.botonesTiempoReal
{
	width: 50%;
	height: auto;
	cursor: pointer;
}

.nombreSensor
{
	font-weight: bold;
	font-size: 16px;
}

.fechaSensor
{
	font-style: italic;
}